<!DOCTYPE html>
<html>
<head>

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript"
  src=
"https://maps.googleapis.com/maps/api/js?key=AIzaSyDJW4jsPlNKgv6jFm3B5Edp5ywgdqLWdmc&sensor=false">
</script>
<script type="text/javascript">


  function initialize() {

    var myOptions = {
      center: new google.maps.LatLng(53.350140, -6.266155),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP

    };
    var map = new google.maps.Map(document.getElementById("default"),
        myOptions);

    var marker, i;
    {% for i in range(length) %}
        var marker = new google.maps.Marker({
              map: map,
              position: new google.maps.LatLng({{bike_station[i][2]}}, {{bike_station[i][3]}})
            });
        map.setCenter(marker.getPosition())
        var content = '"Station Number: " + {{bike_station[i][1]}}';
       // var test = {{ bike_station[0][1] }};
        document.getElementById("test").innerHTML = test;
        var infowindow = new google.maps.InfoWindow();

        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                return function() {
                   infowindow.setContent(content);
                   infowindow.open(map,marker);
                };
            })(marker,content,infowindow));

        {% endfor %}

  }


  </script>
 </head>
 <body onload="initialize()">
 <p id='test'> </p>
  <div id="default" style="width:1500px;height:500px;"></div>
 </body>
  </html>

  }
  }



  </script>
 </head>
 <body onload="initialize()">
  <div id="default" style="width:100%; height:100%"></div>
 </body>
 </html>