{% extends "index.html" %}

{% block title %} HomePage {% endblock %}

{% block heading %}
<center>Homepage</center>
{% endblock %}

{% block content%}
<div>
  <button id="default-b">Default</button>
  <button id="traffic-b">Traffic</button>
  <button id="bike-b">Bike</button>
  <button id="heat-b">Stands Heat</button>
  {% if 'user' in session %}
  <input type="checkbox" checked id="route">

  <label>Route</label>
  {% endif %}
</div>
<div id="map" class="map-container z-depth-1-half" style="height:400px;"></div>
  <div class="jumbotron">
    <p>Please select your start point and end point</p>
    {% if 'user' in session %}
    <p>id: {{user_id}}</p>
    <p>full name: {{user_full_name}}</p>
    <p>email: {{user_email}}</p>
    <form method="POST" action="/">
      <div style="display: inline-block" id="pickUpStation"></div>
      <input type="date" name="pickdate">
      <input type="time" name="picktime">
      <br>
      <div style="display: inline-block" id="dropOffStation"></div>
      <input type="date" name="dropdate">
      <input type="time" name="droptime">
      <br>
      <button type="submit" value="submit">Forecast</button>
    </form>
    <button id="submitStation" onclick="onclickSubmit()">Submit</button>
    {% else %}
    <div id="pickUpStation"></div>
    <div id="dropOffStation"></div>
    <button id="submitStation" onclick="onclickSubmit()">Submit</button>
    {% endif %}
    <div id="chart1_div"></div>
    <div id="chart2_div"></div>
    <div id="chart3_div"></div>
    <div id="chart4_div"></div>
  </div>
{% endblock %}