{% extends "index.html" %}

{% block title %} HomePage {% endblock %}

{% block heading %}
<center>Homepage</center>
{% endblock %}

{% block content%}
<div>
  <button id="default-b">Default</button>
  <button id="traffic-b">Traffic</button>
  <button id="bike-b">Bike</button>
  <button id="heat-b">Stands Heat</button>
  {% if 'user' in session %}
  <input type="checkbox" checked id="route">
  <label>Route</label>
  {% endif %}
</div>
<div id="map" class="map-container z-depth-1-half" style="height:400px;"></div>
  <div class="jumbotron">
    <p>Please select your start point and end point</p>
    {% if 'user' in session %}
    <form id="forecast_form">
      <div style="display: inline-block" id="pickUpStation"></div>
      <input type="date" id="pickdate">
      <input type="time" id="picktime">
      <br>
      <div style="display: inline-block" id="dropOffStation"></div>
      <input type="date" id="dropdate">
      <input type="time" id="droptime">
      <br>
      <button type="submit" id="forecast">Forecast</button>
    </form>
    <button id="submitStation" onclick="onclickSubmit()">Submit</button>
    {% else %}
    <div id="pickUpStation"></div>
    <div id="dropOffStation"></div>
    <button id="submitStation" onclick="onclickSubmit()">Submit</button>
    {% endif %}
    <br>
    <div style="display: inline-block" id="chart1_div"></div>
    <div style="display: inline-block" id="chart2_div"></div>
    <br>
    <div style="display: inline-block" id="chart3_div"></div>
    <div style="display: inline-block" id="chart4_div"></div>
    <br>
    <div style="display: inline-block" id="chart5_div"></div>
    <div style="display: inline-block" id="chart6_div"></div>
    <br>
    <div style="display: inline-block" id="chart7_div"></div>
    <div style="display: inline-block" id="chart8_div"></div>
  </div>
{% endblock %}